.logo {
  
  
    float: left;
    width: 130px;
    
   
  
} 

.Sign_in {
    color: red;
    font-size: 18px ;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.waves-effect i {
    color:#b51212
}
/* 
.navbar-dark {
    background-color: black;
} */

/* .default-color {
  background-color: black;
}

.navbar-dark default-color navbar navbar-expand-md {
    background-color: black;
} */

.navbar {
    padding: 0px;
}